@import "./fonts.css";
@import "tailwindcss";

:root {
  --font-caltoria: 'Caltoria', serif;
  --font-poppins: 'Poppins', sans-serif;
}

.font-caltoria {
  font-family: var(--font-caltoria) !important;
}

.font-poppins {
  font-family: var(--font-poppins) !important;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

